<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.house.dao.UserMapper">

    <!--    自增主键，通常不用设置-->
    <!--    不能添加全空user-->
    <insert id="add" parameterType="com.house.bean.User">
        insert into user (
        <trim prefix="" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="account != null">account,</if>
            <if test="password != null">password,</if>
            <if test="isDel != null">is_del,</if>
            <if test="isBan != null">is_ban,</if>
            <if test="name != null">name,</if>
            <if test="age != null">age,</if>
            <if test="createTime != null">create_time,</if>
            <if test="recentLoginTime != null">recent_login_time,</if>
            <if test="tel != null">tel,</if>
        </trim>
        )
        values (
        <trim prefix="" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="account != null">#{account},</if>
            <if test="password != null">#{password},</if>
            <if test="isDel != null">#{isDel},</if>
            <if test="isBan != null">#{isBan},</if>
            <if test="name != null">#{name},</if>
            <if test="age != null">#{age},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="recentLoginTime != null">#{recentLoginTime},</if>
            <if test="tel != null">#{tel},</if>
        </trim>
        )
    </insert>

    <delete id="delete" parameterType="com.house.bean.User">
        delete from user
        <where>
            <if test="id != null">id = #{id}</if>
            <if test="account != null">AND account = #{account}</if>
            <if test="password != null">AND password = #{password}</if>
            <if test="isDel != null">AND is_del = #{isDel}</if>
            <if test="isBan != null">AND is_ban = #{isBan}</if>
            <if test="name != null">AND name = #{name}</if>
            <if test="age != null">AND age = #{age}</if>
            <if test="createTime != null">AND create_time = #{createTime}</if>
            <if test="recentLoginTime != null">AND recent_login_time = #{recentLoginTime}</if>
        </where>
    </delete>

    <!--    不应该更新id-->
    <update id="update">
        update user
        <set>
            <if test="now.id != null">id = #{now.id},</if>
            <if test="now.account != null">account = #{now.account},</if>
            <if test="now.password != null">password = #{now.password},</if>
            <if test="now.isDel != null">is_del = #{now.isDel},</if>
            <if test="now.isBan != null">is_ban = #{now.isBan},</if>
            <if test="now.name != null">name = #{now.name},</if>
            <if test="now.age != null">age = #{now.age},</if>
            <if test="now.createTime != null">create_time = #{now.createTime},</if>
            <if test="now.recentLoginTime != null">recent_login_time = #{now.recentLoginTime},</if>
            <if test="now.tel != null">tel = #{now.tel},</if>
        </set>
        <where>
            <if test="old.id != null">id = #{old.id}</if>
            <if test="old.account != null">AND account = #{old.account}</if>
            <if test="old.password != null">AND password = #{old.password}</if>
            <if test="old.isDel != null">AND is_del = #{old.isDel}</if>
            <if test="old.isBan != null">AND is_ban = #{old.isBan}</if>
            <if test="old.name != null">AND name = #{old.name}</if>
            <if test="old.age != null">AND age = #{old.age}</if>
            <if test="old.createTime != null">AND create_time = #{old.createTime}</if>
            <if test="old.recentLoginTime != null">AND recent_login_time = #{old.recentLoginTime}</if>
            <if test="old.tel != null">AND tel = #{old.tel}</if>
        </where>
    </update>

    <select id="select" parameterType="com.house.bean.User" resultType="com.house.bean.User">
        SELECT * FROM user
        <where>
            <if test="id != null">id = #{id}</if>
            <if test="account != null">AND account = #{account}</if>
            <if test="password != null">AND password = #{password}</if>
            <if test="isDel != null">AND is_del = #{isDel}</if>
            <if test="isBan != null">AND is_ban = #{isBan}</if>
            <if test="name != null">AND name = #{name}</if>
            <if test="age != null">AND age = #{age}</if>
            <if test="createTime != null">AND create_time = #{createTime}</if>
            <if test="recentLoginTime != null">AND recent_login_time = #{recentLoginTime}</if>
        </where>
    </select>

</mapper>
